extends layout

block content
    header
        h1= title
    form(action="", method="post")
        label(for="nombre", class="label")
        br
        input(type="text", name="nombre",class="searchbar")
        br
        input(type="submit", value="Search", formaction="/search")
        br
        br
        br
        br
    h3 Programas de becas disponibles
    div(class="bodyTable")
        table(class="table table-hover")
            tr(class="table-dark")
                th(scope="col") Nombre
                th(scope="col") Organización
                th(scope="col") Tipo
                th(scope="col") Descripción
                th(scope="col") Update
                th(scope="col") Delete
            each beca in becas
                tr
                    th
                        p= beca.nombre
                    th
                        p= beca.fundacion
                    th
                        p(class="grammar")= beca.tipo
                    th
                        p= beca.descripcion
                    th
                        form(action="", method="post")
                            input(type="text", name="nombre", value=beca.nombre, class="hide")
                            input(type="text", name="fundacion", value=beca.fundacion, class="hide")
                            input(type="text", name="tipo", value=beca.tipo, class="hide")
                            input(type="text", name="descripcion", value=beca.descripcion, class="hide")
                            input(type="submit", value="Update", class="btn btn-danger bUpdate", formaction="/put")
                    th
                        form(action="", method="post")
                            input(type="text", name="nombre", value=beca.nombre, class="hide")
                            input(type="text", name="fundacion", value=beca.fundacion, class="hide")
                            input(type="text", name="tipo", value=beca.tipo, class="hide")
                            input(type="text", name="descripcion", value=beca.descripcion, class="hide")
                            input(type="submit", value="Delete", class="btn btn-danger bDelete", formaction="/delete")
    h3 Agregar un programa de becas
    form(action="", method="post", class="form-group makeBeca")
        label(for="Nombre", class="label") Nombre
        br
        input(type="text", name="nombre")
        br
        label(for="Fundacion", class="label") Organizacion
        br
        input(type="text", name="fundacion")
        br
        label(for="tipo", class="label") Tipo
        br
        select(name="tipo")
            option completa
            option parcial
            option matricula
            option residencia
            option transporte 
        br
        label(for="descripcion", class="label") Descripcion
        br
        input(type="text", name="descripcion")
        br
        input(type="submit", value="Agregar", class="btn btn-danger")